{%- assign collection = include.collection -%}
{%- assign limit = include.limit || -1 -%}
{%- assign list = site[collection] -%}
{%- unless page.layout == "collection-page" -%}
<h6>{{ collection | capitalize }}</h6>
{%- endunless -%}
<ul>
{%- for item in list limit: limit -%}
  <li class="collection-item">
    <a href="{{ item.url | relative_url }}">
      {%- if item.background -%}
      <img src="{{ item.background | prepend: "/assets/img/" | absolute_url }}" />
      {%- endif -%}
      <span class="collection-label">{{ item.name }}</span>
    </a>
  </li>
{%- endfor -%}
</ul>
