---
---
$page_width: calc(1024px - (30px * 2))
$img_width: calc(300px - (10px * 2))
$overlay_color: rgba(102, 127, 255, 0.75)
$medley_red: rgba(227, 38, 24, 1)
$medley_black: rgba(1, 1, 1, 1)
$lightish: #eee

@import fonts
@import breakpoints

html
  width: 100%
  height: 100%
  margin: 0

body
  background-color: $lightish
  width: 100%
  height: 100%
  margin: 0
  display: flex
  flex-flow: column nowrap
  color: $medley_black
  font-family: $font_work

ul, ol
  margin: 0

header
  .wrapper
    max-width: calc(1280px - (30px * 2))
  .site-nav
    .trigger
      display: flex
      .page-link
        color: $medley_black
        &:hover
          color: $medley_red
      .menu-link
        padding: 0 20px
  flex-shrink: 0
  background: $lightish
  color: $medley_red
  box-shadow: 5px 0 10px $medley_black

.site-header
  min-height: 70px

.site-title, .site-title:visited
  display: block
  font-family: $font_poppins
  text-transform: uppercase
  color: $medley_red
  line-height: 0.5
  position: fixed
  .background-text
    position: inherit
    font-family: $font_tai
    font-size: 6em
    top: 5vh
    padding-left: 1vw
    display: inline-block
    -webkit-transform: scale(1.2, 1)
    -moz-transform: scale(1.2, 1)
    -ms-transform: scale(1.2, 1)
    -o-transform: scale(1.2, 1)
    transform: scale(1.2, 1)
    background: -webkit-linear-gradient($medley_red, $medley_black)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .main-text
    position: inherit
    background-color: $lightish
    color: $medley_black
    line-height: 1
    padding: 5px
    top: 65px
    font-size: 70%
    font-weight: 500
    letter-spacing: 1px
  .sub-text
    position: inherit
    background-color: $lightish
    font-size: 60%
    line-height: 2
    padding: 5px
    top: 90px

main
  flex: 1 0 auto
  .wrapper
    max-width: calc(1024px - (15px * 2))

.title-background
  min-height: 400px
  background-size: cover
  background-repeat: no-repeat
  h1
    position: absolute
    text-align: center
    width: $page_width
    padding: 182px 0
    top: 31%
    left: 50%
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    background-color: $overlay_color
    color: white
    font-family: $font_tai

.collection-list
  ul
    display: flex
    justify-content: space-between
    gap: 15px
    flex-flow: row wrap
    position: relative
    li
      list-style: none
      a
        display: inline-block
        background-size: contain
        width: 320px
        height: 180px
      .collection-label
        display: inline-block
        position: relative
        top: 33%
        background-color: rgba(0, 0, 0, .5)
        color: white
        width: 100%
        padding: 20px 0
        text-align: center

.site-footer
  flex-shrink: 0
  bottom: 0
  margin: auto
  background-color: $medley_black
  color: lightgrey
  .wrapper
    max-width: calc(1280px - (30px * 2))
  .footer-region-content
    ul > li
      list-style: none
      img
        width: 32px
        height: 32px
        filter: invert(100%)
  .footer-col-wrapper
    color: lightgrey
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    .footer-col
      max-width: 40%
